
<div class="container">
    <h1 mat-dialog-title>Registrar grado</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="grado_form">
        <div class="inputs">
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <button mat-raised-button color="primary" class="button" (click)="crearGrado()" [disabled]="grado_form.invalid" *ngIf="!gradoEncontrado">Crear</button>
            <button mat-raised-button color="primary" class="button" (click)="actualizarGrado()" [disabled]="grado_form.invalid" *ngIf="gradoEncontrado">Actualizar</button>
            <button mat-raised-button class="button" (click)="onNoClick()">Canclear</button>
        </div>

    </form>
</div>