<div class="container">
    <h1 mat-dialog-title>Enviar reporte de notas</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="reporte_form">
        <div class="inputs">
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Seleccionar un bimestre</mat-label>
                    <mat-select formControlName="bimestre" >
                      <mat-option *ngFor="let bimestre of bimestres" [value]="bimestre" [disabled]="!bimestre.estado">
                        {{bimestre.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Seleccionar un docente</mat-label>
                    <mat-select formControlName="semana">
                      <mat-option *ngFor="let semana of semanas" [value]="semana">
                        {{semana}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <button mat-raised-button color="primary" class="button" (click)="enviarReporteDeNotasAPadres()" [disabled]="reporte_form.invalid">Enviar</button>
            <button mat-raised-button class="button" (click)="onNoClick()">Canclear</button>
        </div>

    </form>
</div>

