<div class="container">
    <div class="title">
        <h2>Lista de estudiantes</h2>
        <button mat-stroked-button color="accent" (click)="openDialog()">Crear nuevo estudiante</button>
    </div>

    <mat-divider class="divider"></mat-divider>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">


        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef> Nombres </th>
          <td mat-cell *matCellDef="let estudiante"> {{estudiante.nombres}} </td>
        </ng-container>
      
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let estudiante"> {{estudiante.apellidos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td mat-cell *matCellDef="let estudiante"> {{estudiante.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="celular_apoderado">
            <th mat-header-cell *matHeaderCellDef> Celular Apoderado </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.celular_apoderado}} </td>
        </ng-container>

        <ng-container matColumnDef="aula">
            <th mat-header-cell *matHeaderCellDef> Aula</th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.aula.nombre}} {{estudiante.aula.seccion}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let estudiante">
            <mat-chip-list aria-label="Dog selection">
              <mat-chip color="primary" selected *ngIf="estudiante.activo">
                Activo
              </mat-chip>
              <mat-chip color="accent" selected *ngIf="!estudiante.activo">
                Inactivo
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let estudiante"> <button mat-stroked-button color="accent"   (click)="openDialogActualizar(estudiante)"><mat-icon>edit</mat-icon></button></td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
</div>