<div style="width: 100%; height: 250px;" *ngIf="reporteNotaParticipacionEstudiante || reporteNotaTareaEstudiante">
    <ngx-charts-line-chart 
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [roundDomains]="true"
  >
</ngx-charts-line-chart>

</div>
<div class="wrapper-message" *ngIf="!reporteNotaParticipacionEstudiante && !reporteNotaTareaEstudiante">
  <h2>Realice una búsqueda para mostrar datos.</h2>
</div>
