<div class="container">
  <div class="title">
    <h2>Clases - 1ero A</h2>
    <button mat-stroked-button color="accent" (click)="openDialog()">Registrar nueva clase</button>
    <button mat-stroked-button color="primary" class="button-right">Enviar reporte de notas</button>
  </div>
    <mat-divider></mat-divider>
    <div class="cards">
        <mat-card class="card" *ngFor="let clase of clases">
            <mat-card-title>{{clase.curso.nombre}}</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <p><mat-icon>person</mat-icon>{{clase.docente.nombres}} {{clase.docente.apellidos}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button color="primary" [routerLink]="[clase.clase_id]">Registrar notas</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
