
<div class="container">
    <h1 mat-dialog-title>Registrar clase</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="clase_form">
        <div class="inputs">
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Seleccionar un curso</mat-label>
                    <mat-select formControlName="curso">
                      <mat-option *ngFor="let curso of cursos" [value]="curso">
                        {{curso.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Seleccionar un docente</mat-label>
                    <mat-select formControlName="docente">
                      <mat-option *ngFor="let docente of docentes" [value]="docente">
                        {{docente.nombres}} {{docente.apellidos}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <button mat-raised-button color="primary" class="button" (click)="crearClase()">Crear</button>
            <button mat-raised-button class="button" (click)="onNoClick()">Canclear</button>
        </div>

    </form>
</div>

